@model OrderViewModel

@{
    ViewData["Title"] = "Информация о заказе";
}

<div class="row">
    <div class="col-md-3 my-4">
        @await Html.PartialAsync("LeftMenu")
    </div>
    <div class="col-md-9 my-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h4>Заказ №@Model.Id</h4>
                </div>
                <form method="post">
                    <div class="mt-3">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Дата и время оформления:</td>
                                    <td>@Model.DateTime.ToString("dd.MM.yyyy в HH:mm")</td>
                                </tr>
                                <tr>
                                    <td>Адрес доставки:</td>
                                    <td>@Model.OrderData.Address</td>
                                </tr>
                                <tr>
                                    <td>Получатель:</td>
                                    <td>@Model.OrderData.Name</td>
                                </tr>
                                <tr>
                                    <td>Телефон:</td>
                                    <td>@Model.OrderData.Phone</td>
                                </tr>
                                <tr>
                                    <td>E-mail:</td>
                                    <td>@Model.OrderData.Email</td>
                                </tr>
                                <tr>
                                    <td>Комментарий:</td>
                                    <td>@Model.OrderData.Comment</td>
                                </tr>
                                <tr>
                                    <td>Сумма заказа:</td>
                                    <td>@Model.Total ₽</td>
                                </tr>
                                <tr>
                                    <td>Статус:</td>
                                    <td>
                                        <select class="form-select" asp-for="Status" asp-items="@Html.GetEnumSelectList<OrderStatusViewModel>()"></select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-4 text-center">
                        <div class="col">
                            <button class="btn btn-primary" asp-controller="Orders" asp-action="Index">Вернуться к заказам</button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary" asp-controller="Orders" asp-action="UpdateStatus" asp-route-id="@Model.Id">Обновить статус заказа</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

