@model FavoriteViewModel

@if (Model == null || Model.Items.Count == 0)
{
    <div class="container text-center">
        <h3>Список избранных товаров пуст</h3>
    </div>
}

else
{
    <div class="container">
        <div class="row">
            @foreach (var product in Model.Items)
            {
                <div class="col-3 mt-4">
                    <div class="card shadow">
                        <img class="card-img-top" src="@product.ImagePath">
                        <div class="card-body">
                            <a class="text-center" style="color:black" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id"><h5>@product.Name</h5></a>
                            <h5 class="text-center">@product.Cost руб.</h5>

                            <div class="btn-toolbar justify-content-center pt-2" role="toolbar">
                                <div class="btn-group" role="group">
                                    <a role="button" class="btn btn-outline-danger" asp-controller="Cart" asp-action="Add" asp-route-productId="@product.Id">В корзину</a>
                                </div>
                                <div class="btn-group ml-2" role="group">
                                    <a role="button" class="btn btn-outline-danger" asp-controller="Favorite" asp-action="Remove" asp-route-productId="@product.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>

                            <div class="text-center pt-2">
                                <a role="button" class="btn btn-outline-danger w-50" asp-controller="Comparison" asp-action="Add" asp-route-productId="@product.Id">Сравнить</a>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}